@charset "UTF-8";
/*
	Resolution Cheat Sheet
		360×640 – 21.54%
		1366×768 – 12.85%
		1920×1080 – 7.76%
		375×667 – 4.94%
		1440×900 – 3.32%
		1280×800 – 2.67%
*/
.temp {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  --input-color: rgb(56, 56, 56);
  --animation-time: 2s;
}

.main-inputs .main-input {
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--input-color);
  color: white;
}

.main-inputs .input-button {
  width: 40em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  position: absolute;
  top: 10em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  min-width: 320px;
}

.main-inputs .input-button .item-name-input {
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  padding: 1em;
}

.main-inputs .input-button .calc-button {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  font-size: 20px;
  padding: 1em;
}

.main-inputs .input-button .calc-button:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #be37be;
}

.main-inputs .item-small-input {
  position: absolute;
  width: 20em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.main-inputs .base-item-input {
  top: 17em;
  padding: 1em;
}

.main-inputs .pre-enhance-item-input {
  top: 22em;
  padding: 1em;
}

.main-inputs .post-enhance-item-input {
  top: 27em;
  padding: 1em;
}

.main-inputs .main-input:focus {
  background-color: gray;
}

.main-inputs .main-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus:-ms-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus::-ms-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus::placeholder {
  color: transparent;
}

.a-input-button {
  -webkit-animation-name: move-input-button;
          animation-name: move-input-button;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-input-button {
  to {
    top: 2em;
    left: 2em;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 20em;
  }
}

@keyframes move-input-button {
  to {
    top: 2em;
    left: 2em;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 20em;
  }
}

.a-item-name-input {
  -webkit-animation-name: move-input;
          animation-name: move-input;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-input {
  to {
    padding: 0.5em 1em;
  }
}

@keyframes move-input {
  to {
    padding: 0.5em 1em;
  }
}

.a-calc-button {
  -webkit-animation-name: move-button;
          animation-name: move-button;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-button {
  to {
    padding: 0.5em 1em;
  }
}

@keyframes move-button {
  to {
    padding: 0.5em 1em;
  }
}

.a-base-item-input {
  -webkit-animation-name: move-base;
          animation-name: move-base;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-base {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 40vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

@keyframes move-base {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 40vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

.a-pre-enhance-item-input {
  -webkit-animation-name: move-pre;
          animation-name: move-pre;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-pre {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 60vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

@keyframes move-pre {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 60vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

.a-post-enhance-item-input {
  -webkit-animation-name: move-post;
          animation-name: move-post;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-post {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 80vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

@keyframes move-post {
  to {
    padding: 0.5em 1em;
    top: 2em;
    left: 80vw;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 15vw;
  }
}

@media only screen and (max-width: 999px) {
  @-webkit-keyframes move-input-button {
    to {
      top: 2em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 90vw;
    }
  }
  @keyframes move-input-button {
    to {
      top: 2em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 90vw;
    }
  }
  @-webkit-keyframes move-input {
    to {
    }
  }
  @keyframes move-input {
    to {
    }
  }
  @-webkit-keyframes move-button {
    to {
    }
  }
  @keyframes move-button {
    to {
    }
  }
  @-webkit-keyframes move-base {
    to {
      top: 7.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
  @keyframes move-base {
    to {
      top: 7.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
  @-webkit-keyframes move-pre {
    to {
      top: 11.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
  @keyframes move-pre {
    to {
      top: 11.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
  @-webkit-keyframes move-post {
    to {
      top: 15.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
  @keyframes move-post {
    to {
      top: 15.5em;
      left: 5vw;
      -webkit-transform: translatex(0);
              transform: translatex(0);
      width: 50vw;
    }
  }
}
/*# sourceMappingURL=index.css.map */