@charset "UTF-8";
/*
	Resolution Cheat Sheet
		360×640 – 21.54%
		1366×768 – 12.85%
		1920×1080 – 7.76%
		375×667 – 4.94%
		1440×900 – 3.32%
		1280×800 – 2.67%
*/
:root {
  --input-color: rgb(56, 56, 56);
  --animation-time: 1s;
  --highlight-color: purple;
  --num-tables: 5;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.main-inputs .select-type {
  top: 12em;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  width: 22em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  text-align: center;
  border-radius: 5px;
}

.main-inputs .select-type input {
  display: none;
}

.main-inputs .select-type input:checked + label {
  background-color: var(--highlight-color);
}

.main-inputs .select-type label {
  background-color: var(--input-color);
  padding: 1em 0;
}

.main-inputs .select-type label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.main-inputs .select-type label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.main-inputs .select-type label:hover {
  background-color: gray;
}

.main-inputs .main-input {
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--input-color);
  color: white;
  position: absolute;
  width: 20em;
  padding: 1em;
}

.main-inputs .base-item-input {
  top: 17em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.main-inputs .pre-enhance-item-input {
  top: 22em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.main-inputs .post-enhance-item-input {
  top: 27em;
  right: 50%;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
}

.main-inputs .main-input:focus {
  background-color: gray;
}

.main-inputs .main-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus:-ms-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus::-ms-input-placeholder {
  color: transparent;
}

.main-inputs .main-input:focus::placeholder {
  color: transparent;
}

.main-inputs .submit-button {
  border: none;
  background-color: var(--highlight-color);
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  right: 50%;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
  padding: 1em;
  top: 32em;
}

.main-inputs .submit-button:hover {
  background-color: #c200c2;
}

.tables {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  top: 14em;
  margin-bottom: 2em;
  justify-items: center;
  -ms-grid-columns: (auto)[var];
      grid-template-columns: repeat(var(--num-tables), auto);
  grid-gap: 3em;
  width: 90vw;
  overflow: auto;
}

.tables .fs-table {
  width: 17em;
}

.tables .fs-table .fs-col {
  padding: 0.5em 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 3em;
  background-color: green;
  border: none;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.tables .fs-table .cost-col {
  padding: 0.5em 0 0.5em 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: green;
  font-size: 20px;
}

.tables .fs-table .darker-green {
  background-color: darkgreen;
}

.tables .fs-table .darker-red {
  background-color: darkred;
}

.tables .fs-table .recommended {
  border-right: 20px solid var(--highlight-color);
}

.tables .fs-table .fs-table-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.tables .fs-table .fs-table-title .fs-col-title {
  background: var(--input-color);
  color: #b4b4b4;
}

.tables .fs-table .fs-table-title .cost-col-title {
  background: var(--input-color);
  color: #b4b4b4;
}

.tables .fs-table .values-fs-table {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  overflow: auto;
}

.a-select-type {
  -webkit-animation-name: move-type;
          animation-name: move-type;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-type {
  to {
    top: 2em;
    -webkit-transform: translate(-27em);
            transform: translate(-27em);
  }
}

@keyframes move-type {
  to {
    top: 2em;
    -webkit-transform: translate(-27em);
            transform: translate(-27em);
  }
}

.a-base-item-input {
  -webkit-animation-name: move-base;
          animation-name: move-base;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-base {
  to {
    top: 7em;
    -webkit-transform: translate(-27em);
            transform: translate(-27em);
    width: 15em;
  }
}

@keyframes move-base {
  to {
    top: 7em;
    -webkit-transform: translate(-27em);
            transform: translate(-27em);
    width: 15em;
  }
}

.a-pre-enhance-item-input {
  -webkit-animation-name: move-pre;
          animation-name: move-pre;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-pre {
  to {
    top: 7em;
    width: 15em;
  }
}

@keyframes move-pre {
  to {
    top: 7em;
    width: 15em;
  }
}

.a-post-enhance-item-input {
  -webkit-animation-name: move-post;
          animation-name: move-post;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-post {
  to {
    top: 7em;
    -webkit-transform: translate(27em);
            transform: translate(27em);
    width: 15em;
  }
}

@keyframes move-post {
  to {
    top: 7em;
    -webkit-transform: translate(27em);
            transform: translate(27em);
    width: 15em;
  }
}

.a-submit-button {
  -webkit-animation-name: move-button;
          animation-name: move-button;
  -webkit-animation-duration: var(--animation-time);
          animation-duration: var(--animation-time);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-button {
  to {
    -webkit-transform: translate(27em);
            transform: translate(27em);
    top: 2em;
  }
}

@keyframes move-button {
  to {
    -webkit-transform: translate(27em);
            transform: translate(27em);
    top: 2em;
  }
}

@media only screen and (max-width: 909px) {
  .main-section .tables {
    margin-top: 28em;
  }
  .main-section .tables .fs-table {
    width: 18em;
  }
  .main-section .tables .fs-table .fs-col {
    font-size: 20px;
  }
  .main-section .tables .fs-table .cost-col {
    font-size: 20px;
  }
  .main-section .tables .fs-table .values-fs-table {
    height: 40em;
  }
  @-webkit-keyframes move-type {
    to {
      top: 10vh;
    }
  }
  @keyframes move-type {
    to {
      top: 10vh;
    }
  }
  @-webkit-keyframes move-base {
    to {
      top: calc(10vh + 4em);
      width: 20em;
    }
  }
  @keyframes move-base {
    to {
      top: calc(10vh + 4em);
      width: 20em;
    }
  }
  @-webkit-keyframes move-pre {
    to {
      top: calc(10vh + 8em);
      width: 20em;
    }
  }
  @keyframes move-pre {
    to {
      top: calc(10vh + 8em);
      width: 20em;
    }
  }
  @-webkit-keyframes move-post {
    to {
      top: calc(10vh + 12em);
      width: 20em;
    }
  }
  @keyframes move-post {
    to {
      top: calc(10vh + 12em);
      width: 20em;
    }
  }
  @-webkit-keyframes move-button {
    to {
      top: calc(10vh + 16em);
    }
  }
  @keyframes move-button {
    to {
      top: calc(10vh + 16em);
    }
  }
}
/*# sourceMappingURL=index.css.map */