// index.scss

/*
	Resolution Cheat Sheet
		360×640 – 21.54%
		1366×768 – 12.85%
		1920×1080 – 7.76%
		375×667 – 4.94%
		1440×900 – 3.32%
		1280×800 – 2.67%
*/

:root {
    // variables
    --input-color: rgb(56, 56, 56);
    --animation-time: 1s;
    --highlight-color: purple;
    --num-tables: 6;
}

* {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    background-color: rgb(26, 26, 26);
    color: white;
}

.main-inputs {
    .select-type {
        top: 12em;
        font-family: 'Rubik', sans-serif;
        position: absolute;
        width: 22em;
        left: 50%;
        transform: translatex(-50%);
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        text-align: center;
        border-radius: 5px;

        input {
            display: none;

            &:checked + label {
                background-color: var(--highlight-color);
            }
        }

        label {
            background-color: var(--input-color);
            color: rgb(182, 182, 182);
            padding: 1em 0;

            &:first-of-type {
                border-radius: 5px 0 0 5px;
            }

            &:last-of-type {
                border-radius: 0 5px 5px 0;
            }

            &:hover {
                background-color: gray;
            }
        }
    }

    .main-input {
        font-family: 'Rubik', sans-serif;
        border: none;
        border-radius: 5px;
        background-color: var(--input-color);
        color: white;
        position: absolute;
        width: 20em;
        left: 50%;
        transform: translatex(-50%);
        padding: 1em;
    }

    .base-item-input {
        top: 17em;
    }

    .pre-enhance-item-input {
        top: 22em;
    }

    .post-enhance-item-input {
        top: 27em;
    }

    .main-input:focus {
        background-color: gray;

        &::placeholder {
            color: transparent;
        }
    }

    .submit-button {
        border: none;
        background-color: var(--highlight-color);
        color: rgb(182, 182, 182);
        padding: 1em;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        padding: 1em;
        top: 32em;

        &:hover {
            background-color: rgb(194, 0, 194);
        }
    }
}

.main-section {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: 3em;

    .tables {
        display: none;
        grid-template-columns: 20px repeat(var(--num-tables), min-content) 20px;
        grid-gap: 3em;
        width: 100vw;
        overflow: auto;
        margin-top: 12em;

        .fs-table {
            width: 17em;

            .fs-col {
                padding: 0.5em 0;
                align-self: center;
                text-align: center;
                width: 3em;
                background-color: green;
                border: none;
                border-right: 3px solid rgba(0, 0, 0, 0.3);
                font-size: 20px;
            }

            .cost-col {
                padding: 0.5em 0 0.5em 1em;
                align-self: center;
                background-color: green;
                font-size: 20px;
            }

            .darker-green {
                background-color: darkgreen;
            }

            .darker-red {
                background-color: darkred;
            }

            .recommended {
                border-right: 20px solid var(--highlight-color);
            }

            .fs-table-title {
                display: grid;
                grid-template-columns: auto 1fr;

                .fs-col-title {
                    background: var(--input-color);
                }

                .cost-col-title {
                    background: var(--input-color);
                }
            }

            .values-fs-table {
                height: 40em;
                display: grid;
                grid-template-columns: auto 1fr;
                overflow: auto;
            }
        }
    }
}

// ANIMATIONS =========================================
.a-base-item-input {
    animation-name: move-base;
    animation-duration: var(--animation-time);
    animation-fill-mode: forwards;
}

@keyframes move-base {
    to {
        top: 7em;
        left: 8em;
        transform: translatex(0);
        width: 15em;
    }
}

.a-pre-enhance-item-input {
    animation-name: move-pre;
    animation-duration: var(--animation-time);
    animation-fill-mode: forwards;
}

@keyframes move-pre {
    to {
        top: 7em;
        left: 26em;
        transform: translatex(0);
        width: 15em;
    }
}

.a-post-enhance-item-input {
    animation-name: move-post;
    animation-duration: var(--animation-time);
    animation-fill-mode: forwards;
}

@keyframes move-post {
    to {
        top: 7em;
        left: 44em;
        transform: translatex(0);
        width: 15em;
    }
}

@media only screen and (max-width: 999px) {
    .main-section .tables {
        margin-top: 15em;

        .fs-table .values-fs-table {
            height: 35em;
        }
    }

    @keyframes move-base {
        to {
            top: 7.5em;
            left: 5vw;
            transform: translatex(0);
            width: 25vw;
        }
    }

    @keyframes move-pre {
        to {
            top: 7.5em;
            left: 35vw;
            transform: translatex(0);
            width: 25vw;
        }
    }

    @keyframes move-post {
        to {
            top: 7.5em;
            left: 65vw;
            transform: translatex(0);
            width: 25vw;
        }
    }
}

@media only screen and (max-width: 682px) {
    .main-section {
        .tables {
            margin-top: 22em;

            .fs-table {
                width: 18em;

                .fs-col {
                    font-size: 20px;
                }

                .cost-col {
                    font-size: 20px;
                }

                .values-fs-table {
                    height: 30em;
                }
            }
        }
    }

    @keyframes move-base {
        to {
            top: 7.5em;
            left: 5vw;
            transform: translatex(0);
            width: 60vw;
        }
    }

    @keyframes move-pre {
        to {
            top: 11.5em;
            left: 5vw;
            transform: translatex(0);
            width: 60vw;
        }
    }

    @keyframes move-post {
        to {
            top: 15.5em;
            left: 5vw;
            transform: translatex(0);
            width: 60vw;
        }
    }
}
